:root {
    --mainTwithoutSize: "PT Serif", serif
}

.movers {
    position: fixed;
    bottom: .5rem
}

@media screen and (max-width:440px) {
    .movers {
        bottom: 2.25em
    }
}

.movers a {
    background-color: #337ab7!important;
    border-color: #337ab7!important;
    color: #fff!important;
    font-size: 1.3rem
}

.movers a:hover {
    background-color: #025aa5!important
}

footer {
    margin-top: .75em;
    position: fixed;
    bottom: 0;
    width: 100%;
    font: 1.2em var(--mainTwithoutSize);
    background-color: rgba(204, 86, 86, .3);
    letter-spacing: 1.2em;
    color: #d1f8a1
}

footer p {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: -.1em;
    letter-spacing: .5em
}

footer h3 {
    font-size: calc(12px + 9 * ((100vw - 420px) / 860))
}

@media screen and (min-width: 1280px) {
    footer h3 {
        font-size: 21px
    }
}

@media screen and (max-width: 420px) {
    footer h3 {
        font-size: 12px
    }
}

* {
    outline: 0!important
}

body {
    background-color: #b93a32;
    color: #4c6a92;
    background-image: url(/static/images/dkBG1.png);
    background-size: cover
}

@font-face {
    src: url(/static/fonts/Dyslexie.ttf);
    font-family: dyslexie
}

:root {
    --bg: #b93a32;
    --navBackgroundColor: #d1f8a1;
    --myBlue: #4c6a92
}

* {
    outline: 0!important
}

body {
    background-color: var(--bg);
    color: var(--myBlue)
}

@font-face {
    src: url(/static/fonts/Dyslexie.ttf);
    font-family: dyslexie
}

section>article:last-child {
    display: none
}

pre {
    color: var(--myBlue)!important
}

.myReactCode {
    white-space: pre-wrap
}

.myReactCode p {
    margin: -5.5em
}

@media screen and (max-width:480px) {
    .myReactCode p {
        margin: -5.5em 0
    }
}

.myAnim {
    background: linear-gradient(var(--bg), #fff);
    height: 100vh;
    width: 300vh;
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    animation-name: progress;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-duration: .7s;
    animation-iteration-count: 1
}

@keyframes progress {
    0% {
        opacity: 100%
    }
    100% {
        transform: translateY(100vh);
        opacity: 5%;
        display: none
    }
}

#btnHome {
    position: fixed;
    z-index: 99999;
    border-radius: 5em;
    bottom: 1.75em;
    right: 2em
}

@media screen and (max-width:440px) {
    #btnHome {
        bottom: 3.75em
    }
}

#btnHome:hover {
    transition: all .2s ease;
    transform: translateY(-.5rem)
}

#btnHome a {
    color: var(--navBackgroundColor)!important;
    font-size: 1.25em
}

#myBody {
    background-image: url(/static/images/dkBG1.png);
    background-size: cover
}

.indexFooter {
    background-color: rgba(76, 106, 146, .50196)
}

.indexFooter small {
    letter-spacing: 2rem
}

#indexContainer .well {
    background-color: var(--navBackgroundColor)
}

#indexContainer a {
    margin: 1rem 0;
    position: relative
}

#indexContainer a:hover {
    transition: all .1s ease;
    transform: rotateZ(10deg)
}

#indexContainer .page-header {
    border-bottom: 1px solid #773838
}

#indexContainer .page-header #myWelcomeImage {
    height: 8rem;
    width: 10rem;
    position: relative;
    transform: rotateZ(-45deg) translate(20rem, 27.5rem)
}

@media screen and (max-width:490px) {
    #indexContainer .page-header #myWelcomeImage {
        transform: rotateZ(-45deg) translate(6rem, 13.5rem)
    }
}

section article:nth-child(2) {
    display: none
}

section article:nth-child(3) {
    display: none
}

header > .jumbotron {
    margin-top: 2.5rem
}

#about > .card {
    margin-top: 2.5rem;
    text-align: center;
}

#about > .card img {
    height: 25rem;
    width: 25rem;
}

#about > .card .card-text {
    margin-top: 2.5rem;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#about > .card .card-title {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
}

#backgroundAjax {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

#ajaxLoader {
    position: fixed;
    top: 50%;
    right: 50%;
    z-index: 9999;
}

#home {
    margin-bottom: 5rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 70px;
    height: 70px;
    display: none;
}

@keyframes cardFlip {
  0%   {transform: skewY(0)}
  100% {transform: skewY(180deg)}
}

#backSide {
    display: none;
}