<article id="about">
  <div class="card">
    <div class="row no-gutters">
      <img src="{{ url_for('static', filename='images/me.jpg') }}" class="card-img-top" alt="Picture of me">
      <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">Check me on
          <a href="https://www.facebook.com/profile.php?id=100009007188851" target="_blank">Facebook</a> and
          <a href="https://www.linkedin.com/in/correy-winke-9b2734118/" target="_blank">Linkedin</a></p>
      </div>
  </div>
</article>