<article id="home">
  <header>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">POC Snowpack</h1>
        <p class="lead">This is POC for Snowpack.</p>
      </div>
    </div>
  </header>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="radio" name="options" id="option1" checked> Cards
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option2"> Data
    </label>
  </div>
  <div class="card">
    <div class="row no-gutters" id="slideActive">
      <div class="col-md-4">
        <div id="carouselControls" class="carousel slide">
          <div class="carousel-inner" id="cards" role="listbox">
          </div>
          <a class="carousel-control-prev" href="#carouselControls" role="button">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselControls" role="button">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title">Find a Magic and Hearthstone card</h5>
          <form action="javascript:;" onsubmit="findCards()" id="findCards">
            <div class="form-group">
              <label for="cardAttack">Attack</label>
              <input type="text" class="form-control" id="cardAttack" placeholder="Card attack">
              <label for="cardHealth">Health</label>
              <input type="text" class="form-control" id="cardHealth" placeholder="Card health">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div id="carouselHsControls" class="carousel slide">
          <div class="carousel-inner" id="hsCards" role="listbox">
          </div>
          <a class="carousel-control-prev" href="#carouselHsControls" role="button">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselHsControls" role="button">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <div id="backSide">
      <div class="ct-chart ct-golden-section" id="mtgChart"></div>
      <div class="ct-chart ct-golden-section" id="hsChart"></div>
    </div>
    <div class="card-footer text-muted" id="responeText">
      <h3 id="mtg"></h3>
      <h3 id="hs"></h3>
    </div>
  </div>
</article>