<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}
</head>

<body>
    {% include 'nav.html' %}
    <section id="app">
        <div class="container">
            {% include 'home.html' %}
            {% include 'about.html' %}
        </div>
    </section>
    {% include 'footer.html' %}
    {% include 'load.html' %}
    {% include 'temp.html' %}
</body>

</html>